.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock
firebase-debug.log
firebase-debug.*.log
.env
.env.*
*.jks
*.keystore
key.properties
service-account*.json
*service-account*.json
android/local.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
*.iml
.idea/
.vscode/
